.left-box{
    max-width: 614px;
    margin-right:28px;
    width: 100%;
    height: 100vh;
}

.left-box .story-container{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom:24px;
    padding: 16px;
    width: 100%;
    height: 116px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.left-box .story-box{
    height: 82px;
    height: 100%;
}

.left-box .story-ul{
    display: flex;
    flex-flow: row;
}

.left-box .story-content{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 8px;
}

.left-box .story-profile-border{
    width:64px;
    height:64px;
    border-radius: 50%;
    background: url('../../../../images/gradient.png') no-repeat center;
    background-size: 64px 64px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.left-box .story-profile-img{
    width:56px;
    height:56px;
    border-radius: 50%;
    border:2px solid #fff;
}

.left-box .story-box p{
    font-size: 13px;
    max-width: 74px;
    line-height: 14px;
    overflow:hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    margin-top: 4px;
}

/* 피드박스 */
.left-box .feed-squ{
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
}

.left-box .feed-header{
    align-items: center;
    padding: 9px 14px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}

.left-box .feed-profile-box{
    cursor: pointer;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
}

.left-box .feed-box .feed-profile-border{
    width:42px;
    height:42px;
    border-radius: 50%;
    background: url('../../../../images/gradient.png') no-repeat center;
    background-size: 44px 44px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.left-box .feed-box .feed-profile-img{
    width:34px;
    height:34px;
    border-radius: 50%;
    border:2px solid #fff;
}

.left-box .feed-id-box{
    margin-left: 16px;
}

.left-box .feed-id{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.left-box .feed-loc{
    font-size: 12px;
}

.left-box .feed-btn-box{
    width: 30px;
    height: 100%;
    
}
.left-box .feed-btn-box > button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-box .feed-btn-box > button > span{
    font-size: 20px;
}

/* 피드 사진 */
.left-box .feed-pic-box{
    max-height: 764px;
    overflow: hidden;
}

.left-box .feed-pic{
    width:100%
}

/* 피드 댓글 */
.left-box .feed-comment-container{
    background-color: #fff;
}

/* 피드 소셜 아이콘 */
.feed-comment-container .comment-icon{
    padding: 0 8px;
    margin-top:4px;
    display: flex;
    justify-content: space-between;
}
.feed-comment-container .icon-box-left, .icon-box-right{
    display: flex;
    align-items: center;
}
.feed-comment-container .icon-button{
    width: 40px; 
    height: 40px;
    padding: 8px;
}
.feed-comment-container .icon-img{
    width: 24px;
}

/* 피드 좋아요 */
.like-container{
    padding: 0 16px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: baseline;
}
.like-container .like-text{
    font-weight: 600;
}
.like-container .like-text-num{
    font-weight: 700;
    margin-right: 0.1em;
}

/* 피드 댓글창 */
.comment-box{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}
.comment-people{
    margin-bottom: 8px;
    display: flex;
}
.comment-id{
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    margin-right:4px;
}
.comment-content{
    font-size: 14px;
    font-weight: 500;
    display: inline-block;

}
.comment-all{
    font-size: 14px;
    font-weight: 500;
    color: #8e8e8e;
    margin-bottom: 8px;
}
.day-after{
    font-size:10px;
    letter-spacing: .2px;
    color: #8e8e8e;
    font-weight: 500;
    margin: 4px 0;
}
.comment-add-box{
    padding: 0 16px;
    border-top: 1px solid #efefef;
    font-size: 14px;
    min-height: 56px;
    height: 100%;
    margin-top: 4px;
}
.comment-add-form{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top:20px;
}
#comment{
    resize: none;
    width: 95%;
    height: 18px; 
}
.comment-btn{
    color: #0095f6;
    font-weight: 600px;
    opacity: .3;
}